body{
    background-color: rgb(39, 51, 70);
    margin:0px;
    padding:0px;
}

.header > h1 {
    color: white
}

.smallheader > h2 {
    color: white
}

.header {
    background-color: rgb(28, 37, 51);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 60px;
    padding:0px 10px;
    margin-bottom: 10px;
}

.col {
    background-color: rgb(28, 37, 51);

}

.row {
    display: flex;
    flex-direction:column;
    color: white;
    margin: 10px;
}

.profile-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================================
   =========== NAVBAR ============
   ================================ */

.nav-links{
    margin: 10px 0px !important;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    background-color: rgb(28, 37, 51);
    height:40px;
    padding: 2px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    border-radius: 0px;
    padding: 10px 15px;
    
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
    
}

.nav-links a.active {
    border-bottom: 2px solid rgb(38, 88, 142);
}

/* ================================
   =========== Table ============
   ================================ */

table {
    width: 100%;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(183, 181, 181);
    border-radius: 5px;
    font-size: 12px;
 
}

thead {
    background-color: rgb(41, 54, 74);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    overflow: hidden;
}

tbody tr{
    background-color: rgb(28, 37, 51);
}

tbody td{
    color: white;
    text-overflow: hidden;
}

th {
    font-weight: bold;
    color: #f7f2f2;
}

.roi {
    border-radius: 10px;
    padding: 5px;
    background-color: #121111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roi.green {
    background-color: rgb(65, 150, 65);
    color: white;
}

.roi.red {
    background-color: rgb(150, 65, 65);
    color: white;
}

/* ================================
   ========== FORMS ==============
   ================================ */

.formInput {
    margin: 15px;
}

.formInput > label{
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom:5px;
}

.formInput > input{
    width: 100%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: black;
}

.formInput > button{
    width: 100%;
    height: 40px;
    background-color: rgb(65, 150, 65);
    border-radius: 5px;
    border: none;
    color: white;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 37, 51);
}

.footer > button {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    text-decoration: none;
    background-color: #f8f8f8;
    color: black;
    margin:10px
}

.footer  #buy {
    background-color: rgb(65, 150, 65);
    color: white;
}

.footer  #sell {
    background-color: rgb(150, 65, 65);
    color: white;
}

.show { 
    display: block; font-weight: bold; }
.hide { 
    display: none; font-weight: bold; }


.small-menu {
    display: flex;
}

.small-menu > a {
    text-align: center;
    padding: 10px 15px;
    width: 30px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(28, 37, 51);
    border-top: 2px solid rgb(28, 37, 51); 
    color: #aaa;
    
}

.small-menu > a.active {
    border-top: 2px solid rgb(38, 88, 142);
    background-color: rgb(38, 50, 65); 
    color: white; 
    font-weight: bold; 
}

.content-container {
    position: relative;
    overflow: hidden;
  }

  .slide-in {
    animation: slideIn 0.5s ease forwards;
  }

  .green {
    color: rgb(65, 150, 65);
  }
  .red {
    color: rgb(150, 65, 65);
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }


/* ================================
   ============ Slider ============
   ================================ */

   .yield-slider {
    margin: 40px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size:12px;
}

.input-wrapper {
    position: relative;
    display: flex;
    margin: 0 15px;
    min-width: 60%;
}

.input-wrapper input {
    appearance: none;
    height: 1rem;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 5px;
    background-color: #ddd;
}

.input-wrapper input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    border: 1rem solid #FFF;
    background: #FFF;
    pointer-events: auto;
    cursor: pointer;
    border-radius: 10px;
}

.input-wrapper input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    border: 1rem solid #FFF;
    background: #FFF;
    pointer-events: auto;
    cursor: pointer;
    border-radius: 10px;
}

.tooltip {
    background-color: #5d7e24;
    color: #FFF;
    border-radius: .25rem;
    bottom: 120%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 600;
    padding: 10px;
}