{% extends "layout.html" %}
{% load humanize %}
{% load static %}

{% block title %}
    <title>Wallet</title>
{% endblock %}

{% block content %}
<div class="col" style="padding:10px">
    <div class="smallheader">
        <h2>Wallet</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>Token</th>
                <th style="text-align:end;">Quantity</th>
        </thead>
        <tbody>
            {% for token, data in wallet.items %}
            <tr>
                <td>
                    <div style="display: flex; flex-direction:row;">
                        <div>
                            <img src="{{data.logo}}" style="width: 50px; height: 50px; margin-right: 10px;">
                        </div>
                        <div>
                            <div style="text-align:start; margin-bottom: 5px;">
                                <strong>
                                    {{ token }} 
                                </strong>
                            </div>
                            <div style="color:rgb(203, 201, 199);">
                                <small> Balance: {{ data.balance|intcomma }}</small>
                                <br>
                                <small>Avg: {{ data.average_price|intcomma }}</small>
                            </div>       
                        </div>
                    </div>
                </td>

                <td>
                    <div style="text-align:end; margin:5px;">
                        <strong>{{ data.quantity|intcomma }} {{ token }}</strong>
                    </div>   
                    <div class="{% if data.unrealized > 0 %}green{% elif data.unrealized < 0 %}red{% else %}neutral{% endif %}" style="text-align: end; margin: 5px;">
                        <small style="font-weight: bold;">{{ data.unrealized|intcomma }} IDR</small>
                    </div>                    
                    <div class="roi {% if data.return_on_investment > 0 %}green{% elif data.return_on_investment < 0 %}red{% endif %}">
                        <small>{{ data.return_on_investment|intcomma }} IDR</small>
                    </div>    
                
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}